.wrapper{
    height: 100vh;
    width: 100%;
}

.carousel-text{
    position: absolute;
    bottom: 30%;
    left: 5%;
    z-index: 50;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-text-container{
    position: relative;
}

.carousel-item .carousel-caption {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.bg_pattern{
    /* position: relative;
    width: 100%;
    height: 100%; */
    background-image: url('https://img.freepik.com/free-vector/linear-flat-abstract-lines-pattern_23-2148954044.jpg?w=740&t=st=1686556972~exp=1686557572~hmac=81f7679815346e409541beeb185b742d1d313c044b6afb8f4ac69064232e2434');
    
}

.bg_nav{
    background-color: #67a075;
}



